*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
.intro-parag::first-letter {
font-size: 35px;
color: rgb(231, 159, 24);
}
.intro-parag p {
    font-size: 1.4em;
}
.container img {
    width: 100%;
    height: 200px;
}
.footer-links a{
    text-decoration: none;
    color: #A7ACA8;
}
.to-top{
    position: fixed;
    width: 50px;
    height: 50px;
    cursor: pointer;
    bottom: 30px;
    right: 15px;
    z-index: 2;
}
@media all and (max-width: 780px){
    .main-footer {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }
}
